@import "tailwindcss";
@plugin "daisyui";

@layer base {
  html,
  body {
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
  }
}

@plugin "daisyui/theme" {
  name: "freispace-app";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(13% 0.028 261.692);
  --color-base-200: oklch(21% 0.034 264.665);
  --color-base-300: oklch(27% 0.033 256.848);
  --color-base-content: oklch(96% 0.003 264.542);
  --color-primary: oklch(56.5% 0.151 247.664);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(89.1% 0.138 90.323);
  --color-secondary-content: oklch(27% 0.072 132.109);
  --color-accent: oklch(85.4% 0.128 211.630);
  --color-accent-content: oklch(28% 0.109 3.907);
  --color-neutral: oklch(37% 0.034 259.733);
  --color-neutral-content: oklch(98% 0.002 247.839);
  --color-info: oklch(68% 0.169 237.323);
  --color-info-content: oklch(97% 0.013 236.62);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(97% 0.021 166.113);
  --color-warning: oklch(76.4% 0.171 60.042);
  --color-warning-content: oklch(98% 0.022 95.277);
  --color-error: oklch(66.8% 0.217 25.519);
  --color-error-content: oklch(97% 0.013 17.38);
  --radius-selector: 2rem;
  --radius-field: 0.25rem;
  --radius-box: 0rem;
  --size-selector: 0.25rem;
  --size-field: 0.21875rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 0;
}